body {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  background-color: #f7f7f7;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #d4edda;
  color: #155724;
  margin: 5px auto;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  text-align: left;
}
button {
  padding: 10px 20px;
  margin-bottom: 15px;
  background-color: #17a2b8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #138496;
}
